<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../img/MONOGRAMA.png" type="image/x-icon">
    <title>GaLu</title>

    <!--Styles-->
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/style_header.css">
    <link rel="stylesheet" href="/styles/style_main.css">
    <link rel="stylesheet" href="/styles/mediaQuery.css">
    <link rel="stylesheet" href="/styles/animacoes.css">
    <link rel="stylesheet" href="/styles/style_list_enxoval.css">

    <!--Scripts-->
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
</head>
<body>
    
    <div id="all">
        <header>
            <nav>
                
                <div class="container_burguer">
                    <img class="burguer" src="../../icons/burguer.png">
                </div>

                <div class="nav_links_container">
                    
                    <a href="/" class="nav_link ">Home</a>
                    <a href="/enxoval" class="nav_link ">Enxoval</a>
                    <a href="../../pages/receitas.html" class="nav_link ">Receitas</a>
                    <a href="" class="nav_link ">Filmes</a>
                </div>

                
                
            </nav>
              
                
        </header>
        {{{body}}}
    </div>
    
    <script src="/scripts/script.js"></script>
    <script src="/scripts/scriptAbrirListas.js"></script>
    <script src="/scripts/menu.js"></script>

    
</body>
</html>