<main class="mainEnxoval">
            <div class="container_add">
                <form action="/add/enxoval/cozinha" method="post">
                    <h1 class="h1_add">Adicionar itens a Cozinha</h1>
                    <div class="container_inputs_add">
                        <p class="p_add">Item</p>
                        <input class="input_item" type="text" name="item">
                        <input class="btn_add" type="submit" value="Adicionar">
                    </div>
                </form>
            </div>
        </main>