<main class="mainEnxoval">
    <div class="container_add">
        <form action="/edit/enxoval/cozinha/{{itensCozinha.id}}" method="POST">
            <h1 class="h1_add">Editar Item</h1>
            <label class="p_add" for="item">Item:</label>
            <input class="input_item" type="text" id="item" name="item" value="{{itensCozinha.item}}">
            <button class="btn_add" type="submit">Atualizar</button>
        </form>
    </div>
</main>