<main class="mainEnxoval">
            <div class="lista">
                <div class="container_menu_enxoval">
                    <div class="btn_menu_enxoval">
                        <p>Opções</p>
                        <div class="btn_menu_enxoval_down">
                            <img class="img_down" src="../icons/seta_down.png">
                        </div>
                    </div>
                    <div class="topicos_container">
                        <h1 class="topicos btn_cozinha up_itens">Cozinha <div class="linha"></div>
                        </h1>
                        <h1 class="topicos btn_quarto up_itens">Quarto <div class="linha"></div>
                        </h1>
                        <h1 class="topicos btn_banheiro up_itens">Banheiro <div class="linha"></div>
                        </h1>
                        <h1 class="topicos btn_lavanderia up_itens">Lavanderia <div class="linha"></div>
                        </h1>
                        <h1 class="topicos btn_sala up_itens">Sala <div class="linha"></div>
                        </h1>
                    </div>
                </div>
<!--COZINHA-->
                <ul class="cozinha">
                    <h1 class="titlulo_lista">Cozinha</h1>
                    <li class="itens">1 Kit de 12 peças de silicone</li>
                    <li class="itens">8 Porta travesseiro (2 verdes, 2 azul escuro, 2 verde claro, 2 cinzas de
                        microfibra)</li>
                    <li class="itens">1 Conjunto de medidores</li>
                    <li class="itens">1 Jogo de facas (6 peças: 1 de pão, 1 de legumes, 3 de carne, 1 de fruta)</li>
                    <li class="itens">1 Forma de pudim 17x81</li>
                    <li class="itens">1 Air fryer elgin </li>
                    <li class="itens">6 Potes herméticos</li>
                    <li class="itens">12 Copos canelados</li>
                    <li class="itens">1 Escorredor De Macarrão</li>
                    <li class="itens">12 Potes De Sobremesa</li>
                    <li class="itens">1 Colher De Pau</li>
                    <li class="itens">3 Espátulas De Manteiga</li>
                    <li class="itens">1 Peneira</li>
                    <li class="itens">3 Potes Herméticos De Plástico</li>
                    <li class="itens">1 Assadeira Antiaderente</li>
                    <li class="itens">1 Forma De Pão Antiaderente</li>
                    <li class="itens">1 Rodo De Pia</li>
                    <li class="itens">1 Saleiro</li>
                    <li class="itens">1 Ralador De Inox</li>
                    <li class="itens">1 Cuscuzeira</li>
                    <li class="itens">1 Colher De Sorvete</li>
                    <li class="itens">1 Cortador De Pizza</li>
                    <li class="itens">5 Panelas Brinox Cerâmica</li>
                    <li class="itens">1 Cooktop</li>
                    <li class="itens">1 Forno De Embutir</li>
                    <li class="itens">2 Jogos Americanos De Flores</li>
                    <li class="itens">48 Talheres (12 Pessoas)</li>
                    <li class="itens">1 Amassador De Alho</li>
                    <li class="itens">2 Descanso De Panelas</li>
                    <li class="itens">1 Lixeira Cinza</li>
                    <li class="itens">1 Dispenser De Detergente</li>
                    <li class="itens">2 Copos Baixos Verdes</li>
                    <li class="itens">1 Forma Antiaderente De Cupcake</li>
                    <li class="itens">1 Tábua De Madeira</li>
                    <li class="itens">1 Lasanheira Marinex 5L</li>
                    <li class="itens">6 Formas De Silicone Airfryer</li>
                    <li class="itens">1 Abridor De Vinho E Cerveja</li>
                    <li class="itens">4 Porta Temperos</li>
                    <li class="itens">1 Balança Digital</li>
                    <li class="itens">4 Porta Copo</li>
                    <li class="itens">1 Jarra De Suco</li>
                    <li class="itens">1 Abridor De Lata</li>
                    <li class="itens">1 Mini Processador De Alimentos</li>
                    <li class="itens">1 Porta Frios</li>
                    <li class="itens">4 Sousplat De Algodão Cru</li>
                    <li class="itens">6 Panos De Pia</li>
                </ul>
<!--QUARTO-->
                <ul class="quarto">
                    <h1 class="titlulo_lista">Quarto</h1>
                    <li class="itens">2 Fronhas (Estampado Verde)</li>
                    <li class="itens">1 Lençol De Cima (Estampado)</li>
                    <li class="itens">1 Edredom Microfibra Cinza</li>
                    <li class="itens">2 Lençóis De Elástico (1 Estampado E 1 Branco De Malha)</li>
                    <li class="itens">1 Cobre Leito Verde Metalacê</li>
                    <li class="itens">1 Manta Microfibra Branca</li>
                    <li class="itens">2 Travesseiros Baixos De Espuma</li>
                    <li class="itens">1 Cobertor Cinza Claro</li>
                </ul>
<!--BANHEIRO-->
                <ul class="banheiro">
                    <h1 class="titlulo_lista">Banheiro</h1>
                    <li class="itens">7 Toalhas De Rosto (1 Rosa, 1 Azul E 5 Brancas)</li>
                    <li class="itens">5 Toalhas De Banho (2 Off White, 1 Creme Bordada, 2 Brancas)</li>
                    <li class="itens">2 Tapetes De Banheiro Cor Verde</li>
                    <li class="itens">1 Dispenser De Sabonete Líquido</li>
                    <li class="itens">3 Tapetes De Banheiro De Bolinha (Cinza, Rosa, Verde)</li>
                    <li class="itens">1 Porta Cotonete</li>
                </ul>
<!--LAVANDERIA-->
                <ul class="lavanderia">
                    <h1 class="titlulo_lista">Lavanderia</h1>
                    <li class="itens">1 Dispenser de sabão em pó </li>
                    <li class="itens">4 Panos de chão </li>
                </ul>
            </div>
        </main>