<main>
    <!--Painel HOME-->
    <div class="painel_home">

        <img class="monograma_painel" src="./img/MONOGRAMA2.png" alt="">

        <p class="versiculo">1 Coríntios 13: 4 - 7</p>

        <div class="img_container_painel">
            <div class="borda_img">
                <img class="img_painel" src="./img/eueela01.jpg">
            </div>
            <p class="nome_painel">Caixinha Ga e Lu</p>


        </div>

        <!--Painel Listas-->

    </div>

    <div class="caixinha">
        <div class="item lista_enxoval">
            <img class="icon_item" src="/icons/icone_lista.png" alt="">
            <h1 class="titulo_item">Enxoval</h1>
            <p class="desc_item">Lista das compras ja feitas do enxoval</p>
        </div>
        <div class="item lista_receitas">
            <img class="icon_item" src="/icons/icone_receita.png" alt="">
            <h1 class="titulo_item">Receitas</h1>
            <p class="desc_item">Receitas que vamos fazer depois de casadinhos</p>
        </div>
        <div class="item lista_filmes">
            <img class="icon_item" src="/icons/icone_filme.png" alt="">
            <h1 class="titulo_item">Filmes</h1>
            <p class="desc_item">Filmes que queremos assistir juntos</p>
        </div>
    </div>
</main>